<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalYazman"
        tools:targetApi="31">

        <service android:name=".classes.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".admin.UserDataViewAdmin"
            android:exported="false"
            android:label="@string/title_activity_user_data_view_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.UpdateAdmin"
            android:exported="false"
            android:label="@string/title_activity_update_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.AdminProfile"
            android:exported="false"
            android:label="@string/title_activity_admin_profile"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.BusinessOwnerProfile"
            android:exported="false"
            android:label="@string/title_activity_business_owner_profile"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.UserProfile"
            android:exported="false"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.BloodDonors"
            android:exported="false"
            android:label="@string/title_activity_blood_donors"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.EventGalleryAdmin"
            android:exported="false"
            android:label="@string/title_activity_event_gallery_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.NotificationAdmin"
            android:exported="true"
            android:label="@string/title_activity_notification_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Notification"
            android:exported="true"
            android:label="@string/title_activity_notification"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.BusinessesAdmin"
            android:exported="false"
            android:label="@string/title_activity_businesses_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.EventGallery"
            android:exported="false"
            android:label="@string/title_activity_event_gallery"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.FAQs"
            android:exported="true"
            android:label="@string/title_activity_faqs"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Contact"
            android:exported="true"
            android:label="@string/title_activity_contact"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.ServicesAdmin"
            android:exported="true"
            android:label="@string/title_activity_services_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.TransportAdmin"
            android:exported="true"
            android:label="@string/title_activity_transport_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.ServicesView"
            android:exported="true"
            android:label="@string/title_activity_services_view"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.OpportunitiesAdmin"
            android:exported="true"
            android:label="@string/title_activity_opportunities_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.LocalNewsAdmin"
            android:exported="true"
            android:label="@string/title_activity_local_news_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.LocalDealsAdmin"
            android:exported="true"
            android:label="@string/title_activity_local_deals_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".admin.Admin"
            android:exported="true"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.BusinessesViews"
            android:exported="true"
            android:label="@string/title_activity_businesses_views"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Signup"
            android:exported="true"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Transport"
            android:exported="true"
            android:label="@string/title_activity_transport"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Services"
            android:exported="true"
            android:label="@string/title_activity_services"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Opportunities"
            android:exported="true"
            android:label="@string/title_activity_opportunities"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.LocalNews"
            android:exported="true"
            android:label="@string/title_activity_local_news"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.LocalDeals"
            android:exported="true"
            android:label="@string/title_activity_local_deals"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.History"
            android:exported="true"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Emergency"
            android:exported="true"
            android:label="@string/title_activity_emergency"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.Businesses"
            android:exported="true"
            android:label="@string/title_activity_businesses"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".activities.menuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.DigitalYazman" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DigitalYazman">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>